.btn{
    height: 2.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    border-radius: .1rem;
    transform: scale(.999);
    transition: transform .2s, outline .1s;
    font-size: .9rem;
    font-weight: 600;
    outline-style: solid;
    outline-width: 0;
    outline-offset: 2px;
    position:relative;
    overflow:hidden;
}

.btn:focus,
.btn:hover{
    outline-width: 2px;
}

.btn:active{
    transform: scale(.96);
    outline-width: 8px;
}

.btn-wide{
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn.busy::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: repeating-linear-gradient(60deg, transparent, transparent 0.75rem, rgba(255,255,255,.2) 0.75rem, rgba(255,255,255,.2) 1.5rem);
  animation: load 1s infinite linear;
}

@media screen and (min-width:theme('screens.m')){
    .btn{
        height: 2.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1rem;
    }   
}