.btn{
    height: 2.75rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    cursor: pointer;
    border-radius: .1rem;
    transform: scale(.999);
    transition: transform .25s, background .25s;
    font-size: 1.2rem;
}

.btn:active{
    transform: scale(.96);
}

.btn.bg-fp-pink:hover{
    background: theme('colors.fp-pink-dark')
}

.btn-wide{
    padding-left: 2rem;
    padding-right: 2rem;
}

@media screen and (min-width:theme('screens.m')){
    .btn{
        height: 2.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1rem;
    }   
}