@keyframes splide-loading {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(1turn)
    }
}

.splide__track--draggable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.splide__track--fade>.splide__list>.splide__slide {
    margin: 0 !important;
    opacity: 0;
    z-index: 0
}

.splide__track--fade>.splide__list>.splide__slide.is-active {
    opacity: 1;
    z-index: 1
}

.splide--rtl {
    direction: rtl
}

.splide__track--ttb>.splide__list {
    display: block
}

.splide__container {
    box-sizing: border-box;
    position: relative
}

.splide__list {
    backface-visibility: hidden;
    display: flex;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important
}

.splide.is-initialized:not(.is-active) .splide__list {
    display: block
}

.splide:not(.is-overflow) .splide__pagination,
.splide:not(.is-overflow) .splide__arrows {
    display: none
}

.splide__progress__bar {
    width: 0
}

.splide {
    position: relative;
    visibility: hidden;
}

.splide.is-initialized,
.splide.is-rendered {
    visibility: visible
}

.splide__slide {
    backface-visibility: hidden;
    box-sizing: border-box;
    list-style-type: none !important;
    margin: 0;
    position: relative;
    flex: 0 0 auto;
}

.splide__slide img {
    vertical-align: bottom
}

.splide__sr {
    clip: rect(0 0 0 0);
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.splide__toggle.is-active .splide__toggle__play,
.splide__toggle__pause {
    display: none
}

.splide__toggle.is-active .splide__toggle__pause {
    display: inline
}

.splide__track {
    overflow: hidden;
    position: relative;
    z-index: 0;
}

/* EDITS */
.splide__arrows{    
    position: absolute;
    bottom:-1rem;
    left:1rem;
    right:1rem;
    z-index: 1;
    display: flex;
    justify-content: space-between
}

.splide__arrow{
    fill: black;
    padding: 1rem;
}
.splide__arrow:hover{
    fill:theme('colors.fp-pink');
}
.splide__arrow[disabled]{
    background: theme('colors.slate.200');
    cursor: not-allowed; 
}
.splide__arrow svg{    
    height: 1rem;
    width: 1rem;
}
.splide__arrow--prev{    
    left: 1rem;
}
.splide__arrow--prev svg{
    transform: rotate(180deg);
}
.splide__arrow--next{    
    left: 1rem;
}

.splide__pagination{    
    display: flex;
    justify-content: center;
    align-items: center;
}
.splide__pagination li{    
    margin: 0px .2rem;
    line-height: 0;
}
.splide__pagination__page{    
    width: 2rem;
    height: .25rem;
    background: theme('colors.slate.200');
}
.splide__pagination__page.is-active{
    background: theme('colors.fp-pink')
}

@media screen and (max-width: theme('screens.m-max')){
    
    .splide__arrows{
        left: -1rem;
        right: -1rem;
    }
    
}