*{
  -webkit-tap-highlight-color: transparent;
}

html{
    background: theme('colors.slate.50')
}

:root{
  font-size: 16px;
  min-height: 0vw;
}

@media screen and (min-width:theme('screens.m')){
  :root{
    font-size: calc(1rem + (24 - 16) * ((100vw - theme('screens.m')) / (1920 - theme('screens.m-unit'))));
  }
}

@media (min-width: 1920px) {
  :root {
    font-size: 24px;
  }
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-middle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-between{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.flex-top{
    display: flex;
    justify-content:center;
    align-items: flex-start;
}


html.no-scroll{
    overflow:hidden;
    height:100%;
}

.disabled{
    pointer-events: none;
    opacity: .25;
}

.section,
.section-y{
  padding-top: 5rem;
}
.section:last-child,
.section-y:last-child{
    padding-bottom:5rem;
}

.section,
.section-x{
    padding-left:5vw;
    padding-right:5vw;
}

/* @media screen and (min-width:theme('screens.m')){
  .section,
  .section-x{
      padding-left:5vw;
      padding-right:5vw;
  }
} */

@media screen and (min-width:theme('screens.w')){
  .section,
  .section-x{
      padding-left:80px;
      padding-right:80px;
  }
}
